@font-face {
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
    src: url("../static/fonts/Inter-Bold-slnt=0.ttf");
}
@font-face {
    font-family: "Inter light";
    font-weight: normal;
    font-style: normal;
    src: url("../static/fonts/Inter-ExtraLight-slnt=0.ttf");
}
.basic-figma{
    position: relative;
    background: #000000;
}
.background-img:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    /*border-top: 300px solid transparent;*/
    /*border-bottom: 300px solid transparent;*/
    border-left: 100px solid black;
    /* border-right: white; */
    /* border-right: 100px solid white; */
    border-top: 370px solid white;
    border-bottom: 370px solid white;
    position: absolute;
    top: 0;
    right: 0;
}
.background-img:after{
    content: "";
    width: 0;
    height: 100%;
    border-right: #FFFFFF;

}
/*.background-img:after{*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 50%;*/
/*    border-top: 100px solid white;*/
/*    border-left: 100px solid transparent;*/
/*    !* top: -53px; *!*/
/*    z-index: -2;*/
/*}*/
.text-set h2{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    /* or 133% */

    letter-spacing: -0.022em;

    color: #FFFFFF;

}
.text-set p{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    /* or 150% */

    letter-spacing: -0.021em;

    color: rgba(255, 255, 255, 0.8);

}
.img-set{
    position: absolute;
}
.background-img{
    background-image: url("../static/img/tortburchak2.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 69%;
}
.background-img-second{
    background-image: url("../static/img/tortburchak3.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}
.figma-padding{
    padding: 100px;
}
#triangle{
    right: 22%;
    position: absolute;
    bottom: 0;
}
#cube{
    position: absolute;
    right: 13%;
    bottom: 0;
}
#round{
    position: absolute;
    right: 6%;
    bottom: 12%;
}
.text-set{
    margin-bottom: 150px;
}