.number{
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 288px;
    margin-right: auto;
    margin-left: auto;
    /* identical to box height, or 200% */


    color: rgba(0, 0, 0, 0.1);

}
.first{
    display: flex;
    background-color: #E5E5E5;
}
.top h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */

    letter-spacing: -0.022em;

    color: #000000;
}
.top{
    padding-top: 8%;
    padding-bottom: 5%;
}
.top p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    /* or 170% */

    letter-spacing: -0.017em;

    color: rgba(0, 0, 0, 0.8);


}
.sizes{
    background-color: white;
    display: flex;
    padding: 40px;
    margin-bottom: 5%;
}
.sizes h3{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    /* or 110% */

    letter-spacing: -0.017em;
    padding-bottom: 3%;

    color: #000000;

}
.sizes p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 110% */

    letter-spacing: -0.017em;

    color: #000000;
}
.sizes h4{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: -0.006em;
    padding-bottom: 4%;
    color: #000000;
}
.sizes #button{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px;
    color: black;
}
#frame-image{
    display: flex;
}
#frame-image img{
    margin-left: auto;
    margin-right: auto;
}
.sizes ul li{
    list-style: none;
}
.sizes ul li a{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 110% */

    letter-spacing: -0.017em;

    color: #000000;
}
.list-group .list-group-item:before{
    content: "";
    border-color: transparent #d9d4d4;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
@media (min-width: 1200px) {
    .container{
        margin-left: 0;
    }
}